html {
	font-size: 16px;
}

@font-face{
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
	display: flex;
}

.container{
	width: 90%;
	max-width: 1200px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}


h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h2 {
    font-size: 1.5em;
}
h3 {
	font-size: 1.125em;
}
h4 {
	font-size: .75em;
}

p {
	font-size: .875em;
	line-height: 1.3125em;
    padding: 0 1.875em;
}

/*Module1*/

header {
	width: 100%;
	margin: auto;
	font-size: .875em;
}

header .logo {
	font-size: 1.5em;
	text-align: center;
	padding-top: 5px;
	border-bottom: 1.5px solid #77a466;
}

header .logo span {
	color: #77a466;
}

header nav {
 padding-top: 15px;
 padding-bottom: 10px;
 text-align: center;
}

header nav ul {
	margin: 0;
	padding: 0;

}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1em;
	padding-bottom: 12px;
	display: block;
	text-align: center;
	line-height: 12px;
	letter-spacing: 2px;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

header nav ul a:hover {
	color: black;
}


/*Module2-top-section*/

.top-section,
.bottom-section {
	margin: auto;
	font-size: 1em;
	justify-content: center;
}

.main-image {
	height: auto;
}
.main-image img {
	width: 100%;
	border-top: 2px solid #77a466;
	border-bottom: 2px solid #77a466;
}

.main-title {
	text-align: center;
}
.main-title h3 {
	font-size: 1.125em;
	padding: 10px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 1.5625em;
}

/*--Module3-bottom-section-*/


.section-one,
.section-two,
.section-three {
	width: 100%;
	border-top: 1px solid #eee;
	text-align: center;
}

.section-one h4 {
	font-size: .75em
}

.section-two h4,
.section-three h4 {
	font-size: .75em;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	font-size: .875em;
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 20px;
}

.address {
	font-size: 1em;
	line-height: 1.5em;
}


/*---Module3-Footer---*/

footer {
	border-top: 1.5px solid #eee;
	margin: 0 auto;
	text-align: center;
	font-size: 1em;
	width: 100%;
}
footer span {
	font-family: 'Wisdom Script', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: .875em;
}

/*---Tablet Styles---*/
@media all and (min-width: 768px) {

header nav {
	padding: 25px;

}

header nav ul li {
	display: inline-block;
	padding-right: 10px;
}

/*---Desktop Styles---*/
@media all and (min-width: 940px) {

	.bottom-section {
		display: flex;
	}

	.section-one, .section-two {
		border-right: 1px solid #eee;
	}

}
